@import 'scss/material.variables';
@import 'scss/material.themes';
@import 'scss/mixins/bi-app/bi-app-ltr';
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/core';
@import 'scss/material';
@import 'scss/utilities/utilities';
@import 'scss/fontawesome';
@import 'scss/themes';
@import 'scss/bootstrap';

.mat-list-item a {
  mat-icon.fas {
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 18px;
  }
}
